.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
#login-box-wrapper {
  margin-top: 200px;
  text-align: center;
}
#login-box {
  height: 130px;
  width: 310px;
  margin: 0 auto;
}
.action-button {
  margin-bottom: 10px;
}
